* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Header*/

.header-content {
  display: flex;
  align-items: center;
  background-color: #fdf1eb;
  height: 68px;
  padding-left: 36px;
}

.header-content p {
  margin-top: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #725c5c;
}

.header-content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;

  color: #725c5c;
}

.header-content h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #725c5c;
}

.dropdown {
  width: 100px;
}

.user {
  display: flex;
}

.user-photo {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: -13px;
  top: -10px;
}

.user img,
p {
  display: inline-block;
}

.number,
.dot {
  right: 7px;
  top: -4px;
}

.number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #ffffff;

  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  right: 15px;

  background-color: #f85959;
}

.click {
  background-color: transparent;
  display: inline-block;
}

.click,
.links {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  width: 97px;
  height: 34px;

  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;

  color: #333333;
  transition: 0.3s;
}

.list {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.newlist {
  transform: scaleY(1);
}

.links {
  background-color: #fdf1eb;
}

.links:hover {
  background-color: #ffb354;
  transform: 1.1s;
}

/*Menu lateral */

.side-menu {
  position: relative;
  max-width: 220px;
  height: 100vh;
  left: 0px;

  display: flex;
  flex-direction: column;
}

.side-bar {
  width: 220px;
  height: 68px;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-item :nth-child(1) {
  order: 1;
}
.menu-item :nth-child(2) {
  order: 2;
}
.menu-item :nth-child(3) {
  order: 3;
}
.menu-item :nth-child(4) {
  order: 4;
}
.menu-item :nth-child(5) {
  order: 5;
}
.menu-item :nth-child(6) {
  order: 6;
}

.nome-evento {
  position: relative;
  width: 220px;
  height: 68px;
  left: 0px;
  top: 0px;

  flex-grow: 0;

  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
}

.nome-evento p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 9%;

  color: #ffffff;
}

.link {
  position: relative;
  display: block;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  left: 24px;

  color: #725c5c;
}

a.link::after {
  content: "";
  width: 220px;
  height: 2px;
  background: #e7e7e7;
  display: block;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  left: -24px;
}

.link:focus {
  left: 29px;
  background-color: #ffb354;
  border-left: 5px solid linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.container-top {
  display: block;
  position: relative;
  margin-left: 256px;
}

/* conteudo body */

.content-body {
  width: 1059px;
  height: 1392px;
  display: flex;
  flex-direction: column;
  position: relative;

  top: 10px;
  margin-left: 40px;

  background-color: pink;

  justify-content: flex-start;
  
}

.content-body h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  justify-content: center;

  letter-spacing: 0.05em;
  color: #ED7839;
}

.title {
  width: 786px;
  height: 54px;

  position: relative;
}

.layer {
  margin-top: 19px;
  width: 783px;
  height: 439px;
  background: rgba(141, 53, 6);
  
  border-radius: 3px;

}

.camada {
  opacity: 0.5;
  z-index: 2;
}

.video-imagem {
  margin-top: 19px;
}

.interesse-buttons {
  display: flex;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.discussion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discussion-content img {
  width: 200px;
}

/* Footer */
