*{
    margin: 0;
}

.content-header {
    margin-left: 256px;
    top: 5px;
    height: 16px;
    width: 391px;

    background-color: #FFB455;
}

.content-header h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #725C5C;
}

.content-header h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #725C5C;
}

.content-header h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    color: #725C5C;
}

.side-menu {
    position: relative;
    max-width: 220px;
    height: 2508px;
    left: 0px;
    top: -16px;
}

.side-bar {
    display: flex;
    flex-direction: column;
}

.menu-item{
    display: flex;
    flex-direction: column;
}

.menu-item :nth-child(1) { order: 1; }
.menu-item :nth-child(2) { order: 2; }
.menu-item :nth-child(3) { order: 3; }
.menu-item :nth-child(4) { order: 4; }
.menu-item :nth-child(5) { order: 5; }
.menu-item :nth-child(6) { order: 6; }

.nome-evento {
    position: relative;
    width: 220px;
    height: 68px;
    left: 0px;
    top: 0px;

    

    flex-grow: 0;
    margin: 0px 0px;

    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.nome-evento p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    margin-top: 5%;

    color: #FFFFFF;
}

.link {
    position: relative;
    display:block;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    left: 24px;

    color: #725C5C;
}

a.link::after {
   content: '';
   width: 220px;
   height: 2px;
   background: #e7e7e7;
   display: block;
   position: relative;
   margin-top: 7px;
   margin-bottom: 7px;
   left: -24px;
}

.link:focus {
    left: 29px;
    background-color: #FFB354;
    border-left: 5px solid linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}