* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Header*/

.header-content {
  display: flex;
  align-items: center;
  background-color: #fdf1eb;
  height: 68px;
  padding-left: 36px;

  justify-content: space-between;
}

.header-content p {
  margin-top: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #725c5c;

}

.header-content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;

  color: #725c5c;
}

.header-content h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #725c5c;
}

.dropdown {
  width: 100px;
}

.user {
  display: flex;
  margin-top: 19px;
  flex-direction: column;
}

.user-photo {
  position: relative;
  display: flex;
  align-items: center;

  margin-right: 30px;
  margin-top: 10px;

}

.photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user {
  display: flex;
}

.dot p{
  position: absolute;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 12px;
 

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;


  left: 4.7px;
  top: 2px;
  color: #ffffff;

}

.dot {
  
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  right: 20px;
  bottom: 20px;
  background-color: #f85959;
}

.click {
  background-color: transparent;
  display: inline-block;
}

.click,
.links {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  width: 97px;
  height: 34px;

  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;

  color: #333333;
  transition: 0.3s;
}

.list {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.newlist {
  transform: scaleY(1);
}

.links {
  background-color: #fdf1eb;
}

.links:hover {
  background-color: #ffb354;
  transform: 1.1s;
}

/*Menu lateral */

.side-menu {
  position: relative;
  max-width: 220px;
  left: 0px;

  display: flex;
  flex-direction: column;
}

.side-bar {
  width: 220px;
  height: 68px;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-item :nth-child(1) {
  order: 1;
}
.menu-item :nth-child(2) {
  order: 2;
}
.menu-item :nth-child(3) {
  order: 3;
}
.menu-item :nth-child(4) {
  order: 4;
}
.menu-item :nth-child(5) {
  order: 5;
}
.menu-item :nth-child(6) {
  order: 6;
}

.nome-evento {
  position: relative;
  width: 220px;
  height: 68px;
  left: 0px;
  top: 0px;

  flex-grow: 0;

  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
}

.nome-evento p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 9%;

  color: #ffffff;
}

.link {
  position: relative;
  display: block;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  left: 24px;

  color: #725c5c;
}

a.link::after {
  content: "";
  width: 220px;
  height: 2px;
  background: #e7e7e7;
  display: block;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  left: -24px;
}

.link:focus {
  left: 29px;
  background-color: #ffb354;
  border-left: 5px solid linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.container-top {
  display: block;
  position: relative;
  margin-left: 256px;
}

/* conteudo body */

.content-body {
  height: 1392px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 50px;
}

.content-body h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  justify-content: center;

  letter-spacing: 0.05em;
  color: #ed7839;
}

.title {
  width: 786px;
  height: 54px;

  position: relative;
}

.heroContent {
  display: flex;
  margin-top: 19px;
}

.buttonWrapper {
  display: flex;
  margin-bottom: 12px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.titleWrapper button {
  background-color: #ED7839;
  border-radius: 4px;
  margin-left: 10px;
  border: 0px;
}

.title img {
  max-width: 19px;
  max-height: 19px;
}

.titleWrapper p {
  color: rgba(237, 120, 57, 1);
}

.downloadButton {
  width: 120px;
  height: 31px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.starButton {
  width: 43px;
  height: 31px;
}


.doiButton {
  width: 43px;
  height: 31px;
}

.layer {
  width: 783px;
  height: 439px;
  background: rgba(141, 53, 6);

  border-radius: 3px;
}

.camada {
  opacity: 0.5;
  z-index: 2;
}

.video-imagem {
  margin-top: 19px;
}

.mainContent {
  width: 100%;
}

.interessedetails {
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 242px;

  margin-left: 40px;
}

.detalhesHeader {
  background-color: #FDF1EB;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;

  height: 45px;
  display: flex;
  width: 242px;

  align-items: center;
}

.detalhesHeader h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.detalhesHeader {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;


  letter-spacing: 0.02em;
}

.detalhesHeader > h2 {
  margin-left: 15px;
}

.scrollbar{
  overflow-y: scroll;
}

.autores {
  margin-top: 30px;
}


.nomeUniversidades{
  margin-top: 30px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;


  letter-spacing: 0.02em;

  color: #5C5C5C
}

.nomeAutores, 
.nomeUniversidades{
  list-style-type: none;
}

.contentTitleWrapper {
  margin-top: 20px;
  display: flex;
}

.resume {
  background-color: #FDF1EB;
  cursor: pointer;
  padding: 18px;
  max-width: 96%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  margin-top: 20px;
  border: 1px solid #ECECEC;
  border-radius: 3px 3px 0px 0px;
  box-sizing: border-box;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #4E4E4E
}

.resume {
  background-color: #FDF1EB;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  width: 100%;
  
  border: 1px solid #ECECEC;
  box-sizing: border-box;

  display: block;
}

.panel p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;

  color: #5C5C5C;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;

 
}

.discussion{
  max-width: 96%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.discussion-title{
  background-color: #FDF1EB;
  cursor: pointer;
  padding: 18px;
  max-width: 100%;
  text-align: start; 
  border: none;
  outline: none;
  transition: 0.4s;

  margin-top: 20px;
  border: 1px solid #ECECEC;
  border-radius: 3px 3px 0px 0px;
  box-sizing: border-box;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #4E4E4E
}

#id1 .discunsion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discussion-content {
 

  padding: 18px;
  max-width: 100%;
  border: none;
  outline: none;

  border: 1px solid #ECECEC;
  box-sizing: border-box;
}

.discusion-phrase {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #ED7839;

}

.imgrow {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
}

.discunsionfrase2 {
  width: 626px;
  height: 39px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

color: #595959;
}

.plusButton button{
  width: 133px;
  height: 32px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

  color: #FFFFFF;

  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;

}

.showQuiz {
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.showQuiz h3{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #ED7839;
}

.showQuiz h4{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #5C5C5C;
}

.showQuiz p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #4D4D4D;
}

.moreOption {
  display: flex;
  flex-direction:row;
  width: 220px;
  height: 30px;
  justify-content: space-around;
  image-orientation: 40px;
}

.likeButton {
  width: 27px;
  height: 19px;
  background: #ED7839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: none;

  display: flex;
}

.likeButton img {
  position: relative;
  left: 7px;
  top: 3px;
}

.divisoria {
  position: relative;
  border: 1px solid red;
  bottom: 35px;
}

.newTopic {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}

.newTopic p{
  position: relative;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;


  text-align: center;

  color: #5C5C5C;
}

.newTopic h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #ED7839;
}

.subject{
  height: 39px;
  margin-bottom: 10px;
}

.subject[type="text"] {
  padding-left: 23.3px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #4D4D4D;
}

.content-input {
  height: 113px;
}

.content-input[type="text"] {
  display: flex;
  text-align: top;
}

.topicSucess {
  display: flex;

  justify-content: center;
  flex-direction: column;

}

.topicSucess h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ED7839;

  margin-top: 20px;
  margin-bottom: 20px;
}

.topicSucess p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  text-align: center;

  color: #595959;;
}

.topicSucess h4{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 137.5%;

  text-align: center;
  text-decoration-line: underline;

  color: #F48F44;

  margin-top: 20px;
  margin-bottom: 20px;
}

.creatNewTopic {
  width: 235.15px;
  height: 32px;

  position: relative;
  align-items: center;
  

  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;
}

/* Footer */
